// colors:
$primary: #f38181;
$accent: #fce38a;
$secondary: #95e1d3;
$text-regular: #999999;
$text-bold: #333333;
$header-color:#ffffff;

// fonts:
$mont: Montserrat, sans-serif;
$roboto: Roboto, sans-serif;
$kaus: KaushanScript, cursive;

// transition:
$trans: all 0.3s ease-in-out;

//main-gutter:
$gutter: 20px;

// media breakpoints:
$min991: screen and (min-width: 991px);
$mx990: screen and (max-width: 990px);
$mx760: screen and (max-width: 760px);
$mx560: screen and (max-width: 560px);
