.card-overlay {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(252, 227, 138, .95) 0%, rgba(243, 129, 129, .95) 100%);
  box-shadow: 10px 10px $secondary;
  opacity: 0;
  cursor: pointer;
  transition: $trans;
  align-content: center;
  justify-items: center;

  @media #{$mx990} {
    position: static;
    opacity: 1;
    box-shadow: none;
    background: none;
  }
}

.card-overlay__socials-list {
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  width: 224px;
  height: 56px;

  @media #{$mx990} {
    width: 100%;
    justify-items: center;
  }
}

.card-overlay__social {
  width: 56px;
  height: 56px;
  cursor: pointer;
  background-color: $accent;
  transition: $trans;
  display: grid;
  align-content: center;
  justify-content: center;

  &:not(:nth-child(4)) {
    border-right: 1px solid $primary;
  }

  @media #{$mx990} {
    background: none;

    &:not(:nth-child(4)) {
      border: none;
    }
  }
}

.card-overlay__social--hover:hover {
  background-color: $primary;


  .card-overlay__social-icon {
    fill: $header-color;
  }
}

@media #{$mx990}{
  .card-overlay__social--hover:hover {
    background: none;


    .card-overlay__social-icon {
      fill: $accent;
    }
  }
}

.card-overlay__social-icon {
  width: 26px;
  height: 26px;
  fill: $primary;
  margin: 0 auto;
}
