.services{
    margin-bottom: 80px;
}

.services__list{
    grid-template-columns: repeat(3, 1fr);
    column-gap: $gutter;
    row-gap: 92px;
    @media #{$mx990}{
        grid-template-columns: repeat(2, 1fr);
    }
    @media #{$mx760}{
        grid-template-columns: 1fr;
        text-align: center;
    }
}

