.site-logo{
    font-size: 2.1429rem;
    font-weight: 700;
    font-family: $mont;
    &:hover{
        color: $accent;
        text-shadow: $header-color 0 0 2px;
    }
    @media #{$mx760}{
        font-size: 2.6em;
    }
}