.site-navigation {
  grid-template-columns: 1fr 1fr;
  margin-bottom: 164px;

  @media #{$mx990} {
    grid-template-columns: 1fr;
    row-gap: $gutter;
    margin-bottom: 120px;
  }

  @media #{$mx760} {
    margin-bottom: 80px;
  }

  @media #{$mx560} {
    margin-bottom: 40px;
    position: relative;
  }
}

.site-navigation__logo {
  justify-self: start;

  @media #{$mx990} {
    justify-self: center;
  }
}

.site-navigation__menu {
  grid-template-columns: repeat(5, 2fr) repeat(2, 1fr);
  justify-items: start;
  justify-content: space-between;
  align-content: flex-end;
  @include text($ff:$mont, $fw:400, $ttr:uppercase);

  @media #{$mx560} {
    font-size: 1.2em;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
  }
}

.site-navigation__link {
  padding-bottom: 8px;
  transition: $trans;
}

@media #{$min991} {
  .site-navigation__link--hover {
    border-bottom: 3px solid transparent;

    &:hover,
    &:focus {
      border-bottom: 3px solid $accent;
      color: $accent;
    }
  }

}

.site-navigation__item:nth-child(6) {
  justify-self: center;

  @media #{$mx560} {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.site-navigation__item:nth-child(7) {
  justify-self: end;

  @media #{$mx560} {
    position: absolute;
    top: 10px;
    right: 60px;
  }
}

.site-navigation__btn {
  fill: $header-color;
  width: 18px;
  height: 18px;
  transition: $trans;
}
@media #{$min991} {

  .site-navigation__btn--hover:hover,
  .site-navigation__btn--hover:focus {
    fill: $accent;
  }
}
