.team__description{
    @extend .service-item__description;
    max-width: 950px;
    text-align: center;
    margin-bottom: 92px;
    margin-left: auto;
    margin-right: auto;
}

.team__list{
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    @media #{$mx990}{
        column-gap: $gutter;
    }
    @media #{$mx760}{
        grid-template-columns: 1fr;
        justify-items: center;
        row-gap: 40px;
      }
}
