.team-card {
  max-width: 380px;

  &:hover .card-overlay,
  &:focus .card-overlay {
    opacity: 1;
  }
}


@media #{$mx760} {
  .team-card:nth-child(-n + 2) {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 30px;
  }
}

.team-card__img-container {
  position: relative;
  margin-bottom: 30px;

  @media #{$mx990} {
    margin-bottom: 15px;
  }
}

@media #{$mx760}{
    .team-card__image{
        margin-bottom: 15px;
    }
}

.team-card__name {
  @include text($mont, 1rem, 700, $text-bold, uppercase);
  text-align: center;
  margin-bottom: 10px;

  @media #{$mx760} {
    font-size: 1.5rem;
  }

}

.team-card__post {
  @include text($roboto, 1.0714rem, 300, $text-regular, none);
  line-height: 1.7143rem;
  font-style: italic;
  text-align: center;

  @media #{$mx760} {
    font-size: 1.5rem;
  }
}
