@import '../components/site-logo';
@import '../components/site-navigation';
@import '../components/banner-welcome';

.header{
    color: $header-color;
    z-index: 1;
    position: relative;
    padding-top: $gutter;
    height: 100%;
    padding-bottom: 230px;
    @media #{$mx990}{
        padding-bottom: 200px;
      }
      @media #{$mx760}{
        padding-bottom: 160px;
      }
      @media #{$mx560}{
        padding-bottom: 120px;
      }
}

.header__wrapper{
    min-height: 100vh;
    background-image: url("../images/picture.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &::before{
        display: block;
        content: '';
        background: linear-gradient(to bottom, rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}