@import '../components/main-section';
@import '../components/services';
@import '../components/service-item';
@import '../components/team';
@import '../components/card-overlay';
@import '../components/team-card';


.main {
  padding-top: 42px;
  padding-bottom: 82px;

  @media #{$mx990} {
    padding-bottom: 62px;
  }

  @media #{$mx760} {
    padding-bottom: 52px;
  }
}
